<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Doenerlogism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;  -webkit-font-smoothing: antialiased;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;  color: inherit;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/coin1.webp"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial17.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial17-max-width thq-section-max-width">
          <div class="testimonial17-container10">
            <h2 class="thq-heading-2">
              <fragment class="testimonial17-fragment21">
                <span class="testimonial17-text35">
                  Unsere Unterstützer sprechen
                </span>
              </fragment>
            </h2>
            <span class="testimonial17-text11 thq-body-small">
              <fragment class="testimonial17-fragment22">
                <span class="testimonial17-text36">
                  Erfahre, was unsere Community über Doenerlogism zu sagen hat.
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card1">
                  <div class="testimonial17-container12">
                    <img
                      alt="Bild von Lena Müller"
                      src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTYxODc1NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image1"
                    />
                    <div class="testimonial17-container13">
                      <strong class="thq-body-large">
                        <fragment class="testimonial17-fragment11">
                          <span class="testimonial17-text25">Lena Müller</span>
                        </fragment>
                      </strong>
                      <span class="thq-body-small">
                        <fragment class="testimonial17-fragment10">
                          <span class="testimonial17-text24">Investor</span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial17-text14 thq-body-small">
                    <fragment class="testimonial17-fragment18">
                      <span class="testimonial17-text32">
                        Doenerlogism hat mein Leben verändert! Ich bin stolz
                        darauf, Teil dieser verrückten Bewegung zu sein.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card2">
                  <div class="testimonial17-container14">
                    <img
                      alt="Bild von Max Mustermann"
                      src="https://images.unsplash.com/photo-1616286608358-0e1b143f7d2f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTYxODc1NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image2"
                    />
                    <div class="testimonial17-container15">
                      <strong class="thq-body-large">
                        <fragment class="testimonial17-fragment17">
                          <span class="testimonial17-text31">
                            Max Mustermann
                          </span>
                        </fragment>
                      </strong>
                      <span class="thq-body-small">
                        <fragment class="testimonial17-fragment13">
                          <span class="testimonial17-text27">
                            Crypto-Enthusiast
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial17-text17 thq-body-small">
                    <fragment class="testimonial17-fragment20">
                      <span class="testimonial17-text34">
                        Ich habe schon viele Coins gesehen, aber keiner ist so
                        einzigartig und unterhaltsam wie Doenerlogism.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card3">
                  <div class="testimonial17-container16">
                    <img
                      alt="Bild von Sarah Meier"
                      src="https://images.unsplash.com/photo-1494176547405-ccd4eff6df3d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTYxODc1Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image3"
                    />
                    <div class="testimonial17-container17">
                      <strong class="thq-body-large">
                        <fragment class="testimonial17-fragment15">
                          <span class="testimonial17-text29">Sarah Meier</span>
                        </fragment>
                      </strong>
                      <span class="thq-body-small">
                        <fragment class="testimonial17-fragment16">
                          <span class="testimonial17-text30">
                            Meme-Liebhaber
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial17-text20 thq-body-small">
                    <fragment class="testimonial17-fragment23">
                      <span class="testimonial17-text37">
                        Als Meme-Liebhaberin musste ich einfach in Doenerlogism
                        investieren. Es ist einfach genial!
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card4">
                  <div class="testimonial17-container18">
                    <img
                      alt="Bild von Felix Schmidt"
                      src="https://images.unsplash.com/photo-1516906736502-5d3fedc3019a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTYxODc1NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image4"
                    />
                    <div class="testimonial17-container19">
                      <strong class="thq-body-large">
                        <fragment class="testimonial17-fragment14">
                          <span class="testimonial17-text28">
                            Felix Schmidt
                          </span>
                        </fragment>
                      </strong>
                      <span class="thq-body-small">
                        <fragment class="testimonial17-fragment12">
                          <span class="testimonial17-text26">
                            Doenerlogism-Fanatic
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial17-text23 thq-body-small">
                    <fragment class="testimonial17-fragment19">
                      <span class="testimonial17-text33">
                        Doenerlogism ist nicht nur ein Coin, es ist eine
                        Bewegung. Ich bin stolz darauf, ein Teil davon zu sein.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
